<nav class="side-menu">
    <div class="side-title">
        <h1 class="text-uppercase fs-6 fw-bold text-white">GESTÃO DE LICENÇA</h1>
        <div class="avatar-user">
            <img src="./assets/images/avatar-user.jpg" alt="">
        </div>
        <div class="username fs-5 text-white"></div>
        <div class="office-user fs-6">Admin</div>
        <div class="text-center company-user office-user fs-6"></div>
    </div>
    <hr>
    <ul class="ul-nav">
        <li class="li-nav">
            <a data-url="dashboard" href="./dashboard">
                <i class="fas fa-home"></i> <span class="name-li">Início</span>
            </a>
        </li>
        <li class="li-nav">
            <a data-url="users" href="./users">
                <i class="fas fa-users"></i> <span class="name-li">Usuários</span>
            </a>
        </li>
        <li id="company_menu" class="li-nav">
            <a data-url="companies" href="./companies">
                <i class="fas fa-building"></i> <span class="name-li">Empresas</span>
            </a>
        </li>
        <li class="li-nav">
            <a data-url="customers" href="./customers">
                <i class="fas fa-building"></i> <span class="name-li">Administradores</span>
            </a>
        </li>
        <li id="uploadlicensasmenu" class="li-nav">
            <a data-url="uploadlicensas" href="./uploadlicensas">
                <i class="fas fa-file-excel"></i> <span class="name-li">Envio Licenças</span>
            </a>
        </li>
        <li id="logoutSide" class="li-nav">
            <i class="fas fa-sign-out-alt"></i> <span class="name-li">Sair</span>
        </li>
    </ul>
</nav>